<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{name}}</title>
</head>

<body>
  <a href="/form01"><button>Form</button></a>
  <div>
    {% for item in texts %}
    <div>
      <p><strong>ID:</strong> {{ item.id }}</p>
      <p><strong>Texto:</strong> {{ item.text }}</p>
      <p><small><strong>Data:</strong> {{ item.date }}</small></p>
      <button>Excluir</button>
    </div>
    {% endfor %}
  </div>
</body>

</html>