{% extends 'base.html' %}

{% block content %}
<h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">Hello contato {{nome}}</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-4">
  <div class="flex flex-col justify-between bg-white shadow-xl rounded-2xl p-6 w-full transform hover:scale-105 transition-transform duration-300 overflow-hidden" style="max-height: 400px;">
    <div class="flex justify-between items-start mb-4">
      <h2 class="text-xl font-bold text-gray-800">Data da aula: 23/10</h2>
      <div class="flex item-center gap-1">
        <span class="px-2 py-1 bg-blue-100 text-blue-800 text-sm font-semibold rounded-full">Aula</span>
        <span class="px-2 py-1 bg-green-100 text-green-800 text-sm font-semibold rounded-full">C/Atividade</span>
      </div>
    </div>
    <h3 class="text-sm font-semibold text-gray-700 mb-2">PRIMEIRO CONTATO COM FLASK - EXERCICIOS PARA FIXAÇÃO</h3>
    <div>
      <p class="text-gray-600 mb-4" style="max-height: 30px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;">
        Toda programação em web trabalha com Requisição e
      </p>

      <div class="hidden" id="text-content">
        <div class="flex flex-col items-center text-center border-b border-gray-300 pb-4">
          <h1 class="font-bold text-lg">Exercicio 01</h1>
          <h3>CRIE UMA PAGINA ROTA PARA UMA PAGINA WEB COM A TAG CANVAS, QUE PERMITE O USUARIO DESLOCAR UMA FOTOGRAFIA DA DIREITA PRA ESQUERDA COM AS TECLAS DO TELCADO, NOME DA ROTA "ATIVIDADE 1"</h3>
          <iframe src="{{ url_for('static', filename='activity/week1/activity01.html') }}" width="600" height="400" class="w-75 h-96 border-2 border-gray-300 rounded-lg shadow-lg" style="max-width: 100%;"></iframe>
        </div>

        <div class="flex flex-col items-center text-center border-b border-gray-300 pb-4">
          <h1 class="font-bold text-lg">Exercicio 02</h1>
          <h3>CRIE UMA ROTA PARA ATIVIDADE 2 QUE PERMITA O USUARIO CAPTURAR UMA FOTOGRAFIA DA WEBCAM</h3>
          <iframe src="{{ url_for('static', filename='activity/week1/activity02.html') }}" width="600" height="400" class="w-75 h-96 border-2 border-gray-300 rounded-lg shadow-lg" style="max-width: 100%;"></iframe>
        </div>

        <div class="flex flex-col items-center text-center border-b border-gray-300 pb-4">
          <h1 class="font-bold text-lg">Exercicio 03</h1>
          <h3>CRIE UMA ROTA PARA ATIVIDADE 3 PARA UMA PAGINA WEB QUE EXIBA UMA TABELA SEM TABLE COM 997 LINHAS E 5 COLUNAS(id, nome, sobrenome, email e ações)</h3>
          <iframe src="{{ url_for('static', filename='activity/week1/activity03.html') }}" width="600" height="400" class="w-75 h-96 border-2 border-gray-300 rounded-lg shadow-lg" style="max-width: 100%;"></iframe>
        </div>

        <div class="flex flex-col items-center text-center border-b border-gray-300 pb-4">
          <h1 class="font-bold text-lg">Exercicio 04</h1>
          <h3>CRITE UMA ROTA PARA ATIVIDADE 4 COM 3 LINKS, UM PARA CADA ATIVIDADE MAS ESTILIZADA</h3>
          <iframe src="{{ url_for('static', filename='activity/week1/activity04.html') }}" width="600" height="400" class="w-75 h-96 border-2 border-gray-300 rounded-lg shadow-lg" style="max-width: 100%;"></iframe>
        </div>

        <h2 class="mt-8">Código das Rotas Flask</h2>
        <pre class="bg-gray-800 text-white p-4 rounded-md font-mono overflow-x-auto">
    <code>
      from flask import Flask
      from flask import render_template
      
      xapp = Flask(__name__)
      
      @xapp.route("/")
      def start():
        return render_template("activity04.html")
      
      @xapp.route("/activity01")
      def activity01():
        return render_template("activity01.html") 
      
      @xapp.route("/activity02")
      def activity02():
        return render_template("activity02.html") 
      
      @xapp.route("/activity03")
      def activity03():
        return render_template("activity03.html") 
      
      @xapp.route("/activity04")
      def activity04():
        return render_template("activity04.html") 
      
      @xapp.route("/curriculum01")
      def curriculum01():
        return render_template("curriculum01.html") 
      
      @xapp.route("/curriculum02")
      def curriculum02():
        return render_template("curriculum02.html") 
      
      @xapp.route("/curriculum03")
      def curriculum03():
        return render_template("curriculum03.html") 
      
      @xapp.route("/curriculum04")
      def curriculum04():
        return render_template("curriculum04.html") 
      
      @xapp.route("/curriculum05")
      def curriculum05():
        return render_template("curriculum05.html") 
      
      @xapp.route("/curriculum06")
      def curriculum06():
        return render_template("curriculum06.html") 
      
      @xapp.route("/contact")
      def contact():
        return render_template("contact.html") 
      
      if __name__ == "__main__":
        xapp.run(debug=True, host="0.0.0.0")
      
    </code>
                </pre>
      </div>

      <div class="flex justify-between items-center">
        <button id="toggle-btn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300 open-popup">Ver atividades</button>
        <div class="flex items-center gap-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden">
  <div class="relative top-6 mx-auto p-5 border w-full md:w-3/4 lg:w-1/2 shadow-lg rounded-md bg-white" style="max-height: 41rem; margin-bottom: 3rem;">

    <div id="popup-content" style="max-height: 35rem; overflow-x: hidden; overflow-y: auto;"></div>
    <div class="text-center mt-4">
      <button id="close-popup" class="px-4 py-2 bg-gray-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300">
        Fechar
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const cards = document.querySelectorAll('.bg-white.shadow-xl');
    const popup = document.getElementById('popup');
    const popupContent = document.getElementById('popup-content');
    const closePopup = document.getElementById('close-popup');

    cards.forEach(card => {
      const openPopupButton = card.querySelector('.open-popup');
      const textContent = card.querySelector('#text-content');

      openPopupButton.addEventListener('click', () => {
        if (textContent) {
          // Move the iframe content to the popup
          popupContent.innerHTML = `<p class="text-gray-600">${textContent.innerHTML}</p>`;
          popup.classList.remove('hidden');
        }
      });
    });

    closePopup.addEventListener('click', () => {
      popup.classList.add('hidden');
    });

    popup.addEventListener('click', (e) => {
      if (e.target === popup) {
        popup.classList.add('hidden');
      }
    });
  });
</script>
{% endblock %}