<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{name}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="bg-white p-8 rounded-lg shadow-lg w-96">
    <h1 class="text-2xl font-semibold text-center text-gray-700 mb-4">Faça o upload da sua imagem</h1>
    <form action="/sendImage" method="POST" enctype="multipart/form-data" class="space-y-4">
      <div class="flex justify-center">
        <input type="file" name="file" accept="image/*" required class="file:border file:bg-gray-100 file:rounded file:px-4 file:py-2 file:text-sm file:text-gray-700 file:hover:bg-gray-200" />
      </div>
      <div class="flex justify-center">
        <input type="submit" value="Upload" class="w-full py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 cursor-pointer transition duration-200" />
      </div>
    </form>
  </div>
</body>

</html>