<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body class="h-screen flex flex-col bg-gray-100">
  <main class="flex-1 p-6 pb-20 bg-white">
    {% block content %}
    {% endblock %}
  </main>

  <nav class="bg-gray-200 text-gray-700 fixed bottom-0 py-4 px-2 left-0 right-0 h-16 shadow-lg flex items-center justify-around">
    <a href="#" class="flex flex-col items-center justify-center space-y-1 px-4 py-2 rounded-md hover:bg-gray-100 transition-colors duration-200">
      <box-icon name='home' color="rgb(55 65 81 / var(--tw-text-opacity, 1))" stroke-width="1"></box-icon>
      <span class="text-xs">Home</span>
    </a>
    <a href="#" class="flex flex-col items-center justify-center space-y-1 px-4 py-2 rounded-md hover:bg-gray-100 transition-colors duration-200">
      <box-icon name='book' color="rgb(55 65 81 / var(--tw-text-opacity, 1))" stroke-width="1"></box-icon>
      <span class="text-xs">Activity</span>
    </a>
    <a href="#" class="flex flex-col items-center justify-center space-y-1 px-4 py-2 rounded-md hover:bg-gray-100 transition-colors duration-200">
      <box-icon name="clipboard" type='solid' color="rgb(55 65 81 / var(--tw-text-opacity, 1))" stroke-width="1"></box-icon>
      <span class="text-xs">Class</span>
    </a>
    <a href="#" class="flex flex-col items-center justify-center space-y-1 px-4 py-2 rounded-md hover:bg-gray-100 transition-colors duration-200">
      <box-icon name='envelope' color="rgb(55 65 81 / var(--tw-text-opacity, 1))" stroke-width="1"></box-icon>
      <span class="text-xs">Contact</span>
    </a>
    <a href="#" class="flex flex-col items-center justify-center space-y-1 px-4 py-2 rounded-md hover:bg-gray-100 transition-colors duration-200">
      <box-icon type='solid' name='user' color="rgb(55 65 81 / var(--tw-text-opacity, 1))" stroke-width="1"></box-icon>
      <span class="text-xs">About</span>
    </a>
  </nav>
</body>

</html>