{% extends 'base.html' %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-4">
  <div class="flex flex-col justify-between bg-white shadow-xl rounded-2xl p-6 w-full transform hover:scale-105 transition-transform duration-300 overflow-hidden" style="max-height: 400px;">
    <div class="flex justify-between items-start mb-4">
      <h2 class="text-xl font-bold text-gray-800">Class Date: 16/10</h2>
      <div class="flex item-center gap-1">
        <span class="px-2 py-1 bg-blue-100 text-blue-800 text-sm font-semibold rounded-full">Class</span>
        <span class="px-2 py-1 bg-yellow-100 text-yellow-800 text-sm font-semibold rounded-full">Without Activity</span>
      </div>
    </div>
    <h3 class="text-sm font-semibold text-gray-700 mb-2">DEFINING TASKS AND DATES</h3>
    <div>
      <p id="text-content" class="text-gray-600 mb-4" style="max-height: 30px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;">
        In this class, we didn't have any task, just an introduction to the subject... but it was defined <br>
        <b>Python as the language <br>
          Flask as the framework <br>
          ORM – Object-Relational Mapping - SQLAlchemy </b> <br>
        Evaluation: <br>
        • 1st grade – live programming – December 11 and 18
        Professor needs to submit the topic 48h in advance
        Individual
        <br>
        • 2nd grade – Portfolio – 12/02 - Description of all classes - All projects need to be functional
        <br>
        • 3rd grade – Practical Application – 22/01

        <br><b> Requirements: </b>
        <br> - At least one API developed by the student
        <br> - At least one endpoint
        <br> - Documentation
        <br> - Clean code
        <br> - Necessary validations
        <br> - A bonus if it is an Elastic/Scalable application
        <br> - Web
        <br> - Database integration
        <br> - Will be tested by a front-end application using only the documentation
        <br> - Individual
        <br>
        <br><b> Things you already know or need to catch up on: </b>
        <br> - Create a Python virtual environment with VENV
        <br> - Be familiar with Linux
        <br> - Python venv – install it in VSCode
        <br> - F1 -> Create environment and follow the steps
        <br> - Install packages in Python and the virtual environment
        <br> - As good practice, NEVER put code in the virtual environment folder
        <br> - Requirements
        <br> - How to generate
        <br> - How to install
        <br> - Python version 3.11 or higher installed on the machine
        <br>
        Next class: bring paper and pen
      </p>
      <div class="flex justify-between items-center">
        <button id="toggle-btn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300 open-popup">See more</button>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-between bg-white shadow-xl rounded-2xl p-6 w-full transform hover:scale-105 transition-transform duration-300 overflow-hidden" style="max-height: 400px;">
    <div class="flex justify-between items-start mb-4">
      <h2 class="text-xl font-bold text-gray-800">Class date: 23/10</h2>
      <div class="flex item-center gap-1">
        <span class="px-2 py-1 bg-blue-100 text-blue-800 text-sm font-semibold rounded-full">Class</span>
        <span class="px-2 py-1 bg-yellow-100 text-yellow-800 text-sm font-semibold rounded-full">Without Activity</span>
      </div>
    </div>
    <h3 class="text-sm font-semibold text-gray-700 mb-2">FIRST STEPS - PYTHON VIRTUAL ENVIRONMENT AND DEFINING THE PROJECT</h3>
    <div>
      <p id="text-content" class="text-gray-600 mb-4" style="max-height: 30px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;">
        In this class, we learned how to create a virtual environment and had to divide into groups and choose topics to present at the end of the semester.
        <br>
        <b>The topics were:</b><br>
        - SENTIMENT ANALYSIS<br>
        - IMAGE ANALYSIS<br>
        - AUTOMATED ROLLCALL<br>
        - CONVERT A PDF INTO A DATABASE JSON<br>
        - IMAGE ANALYSIS AND IMAGE DESCRIPTION<br>
        - BIOMETRIC READER BY IRIS?<br>
        <br>
        After a vote, the chosen topic for my project was <br><b>AUTOMATED ROLLCALL</b>
        <br>
        The colleagues working on this project with me are:<br>
        - Kauan<br>
        - Felipe<br>
        - Pedro<br>
        - Nicholas<br>
        - Patrick<br>
        - Letícia<br>

        <br>
        <b>Things we learned:</b><br>

        - Never place code inside the virtual environment folder!<br>
        - Method 1 for creating:<br>
        <span style="margin-left: 1rem;">Terminal:</span><br>
        <span style="margin-left: 2rem;"> - Create a folder with the project name </span> <br>
        <span style="margin-left: 2rem;"> - Inside the folder -> command python -m venv .venv (or desired name) </span> <br>
        <span style="margin-left: 2rem;"> - .venv/Scripts/activate </span> <br>
        <span style="margin-left: 2rem;"> - pip install {package name} </span> <br>
        <span style="margin-left: 2rem;"> - python {file name}.py </span> <br>

        <br>
        <b>Install later:<br></b>
        <span style="margin-left: 1rem;"> - Flask<br> </span>
        <span style="margin-left: 1rem;"> - SQLAlchemy / Flask SQLAlchemy<br> </span>
        <span style="margin-left: 1rem;"> - numpy - done<br> </span>

        <br>
        Useful things:<br>
        <span style="margin-left: 1rem;"> - pypi site -> search for packages and their commands<br> </span>

        <br>
        Class dynamics:<br>
        It starts with a list of activities for homework<br>
        followed by some necessary concepts to complete them (some)<br>

        <br>
        Folder organization:<br>
        <span style="margin-left: 1rem;"> project/<br> </span>

        <span style="margin-left: 2rem;"></span>|-> .venv/<br>
        <span style="margin-left: 2rem;">|-> app.py<br></span>
        <span style="margin-left: 2rem;">|-> templates/ (for using front-end in the same project)<br></span>
        <span style="margin-left: 3rem;">|-> aquivos.html with python code<br></span>
        <span style="margin-left: 2rem;">|-> static/ (for using front-end in the same project)<br> </span>
        <span style="margin-left: 3rem;">|-> img/<br></span>
        <span style="margin-left: 3rem;">|-> css/<br></span>
        <span style="margin-left: 3rem;">|-> js/<br></span>

        <br>
        Observations:<br>
        Frameworks need standards!<br>
        All .py files need clean code (no comments) and meaningful names<br>
        Names in English<br>
        Variables in snake_case like_this<br>
        Progress bar in loops<br>

      </p>
      <div class="flex justify-between items-center">

        <button id="toggle-btn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300 open-popup">See more</button>
        <div class="flex items-center gap-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-between bg-white shadow-xl rounded-2xl p-6 w-full transform hover:scale-105 transition-transform duration-300 overflow-hidden" style="max-height: 400px;">
    <div class="flex justify-between items-start mb-4">
      <h2 class="text-xl font-bold text-gray-800">Class date: 30/10</h2>
      <div class="flex item-center gap-1">
        <span class="px-2 py-1 bg-blue-100 text-blue-800 text-sm font-semibold rounded-full">Class</span>
        <span class="px-2 py-1 bg-green-100 text-green-800 text-sm font-semibold rounded-full">With Activity</span>
      </div>
    </div>
    <h3 class="text-sm font-semibold text-gray-700 mb-2">FIRST CONTACT WITH FLASK - EXERCISES FOR PRACTICE</h3>
    <div>
      <p id="text-content" class="text-gray-600 mb-4" style="max-height: 30px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;">
        All web programming works with Request and Response.<br>
        The backend uses reactive programming, meaning it doesn't start with ongoing processes, connecting the Client and Server.<br>
        Flask allows our Python code to wait for calls.<br><br>

        <b>Search:</b><br>
        There is a special type of variable (the most common) where the name of the variable and its value are the same, like:<br>
        - __name__<br>
        - __root__<br><br>

        <b>Running locally:</b><br>
        We turn our machines into servers.<br>
        Example:<br>
        <span style="margin-left: 1rem;">if __name__ == '__main__':</span><br>
        <span style="margin-left: 2rem;">app.run(debug=True)</span><br>
        - This snippet makes the code run continuously and wait for instructions, functioning as a server.<br>
        - <b>debug=True:</b> Allows you to edit the code with automatic updates.<br>
        - <b>port=3030:</b> Configures a specific port.<br>
        - <b>host='0.0.0.0':</b> Allows everyone on the same network to access your code.<br><br>

        <b>Annotations:</b><br>
        - They start with @.<br>
        - Example: <b>@app.route</b> defines the desired route, with ('/') being the root of the project.<br><br>

        <b>Task:</b><br>
        Create a second contact route and add contact details.<br>
        Create a prototype of the project in 4 weeks.<br><br>

        <b>Activities:</b><br>
        - <b>Activity 01:</b><br>
        CREATE A PAGE ROUTE FOR A WEB PAGE WITH THE CANVAS TAG, WHICH ALLOWS THE USER TO MOVE A PHOTO FROM RIGHT TO LEFT USING THE KEYBOARD KEYS, ROUTE NAME "ACTIVITY 1"<br><br>
        - <b>Activity 02:</b><br>
        CREATE A ROUTE FOR ACTIVITY 2 THAT ALLOWS THE USER TO CAPTURE A PHOTO FROM THE WEBCAM<br><br>
        - <b>Activity 03:</b><br>
        CREATE A ROUTE FOR ACTIVITY 3 FOR A WEB PAGE THAT DISPLAYS A TABLE WITHOUT A TABLE TAG WITH 997 ROWS AND 5 COLUMNS (id, first name, last name, email, and actions)<br>
        - 997 rows<br>
        - 5 columns: id, first name, last name, email, actions.<br><br>
        - <b>Activity 04:</b><br>
        CREATE A ROUTE FOR ACTIVITY 4 WITH 3 LINKS, ONE FOR EACH ACTIVITY, BUT STYLED<br><br>
        - <b>Activity 05:</b><br>
        CREATE 6 ROUTES, EACH ONE STYLISH, AND IT SHOULD CONTAIN THE GROUP'S CURRICULUM<br><br>
      </p>

      <div class="flex justify-between items-center">

        <button id="toggle-btn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300 open-popup">See more</button>
        <div class="flex items-center gap-4">
          <a href="/activity" class="text-blue-500 hover:text-blue-600 transition-colors duration-300 flex items-center">
            <span class="mr-1 text-sm">Link to activity</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
            </svg>
          </a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-between bg-white shadow-xl rounded-2xl p-6 w-full transform hover:scale-105 transition-transform duration-300 overflow-hidden" style="max-height: 400px;">
    <div class="flex justify-between items-start mb-4">
      <h2 class="text-xl font-bold text-gray-800">Class date: 06/11</h2>
      <div class="flex item-center gap-1">
        <span class="px-2 py-1 bg-blue-100 text-blue-800 text-sm font-semibold rounded-full">Class</span>
        <span class="px-2 py-1 bg-green-100 text-green-800 text-sm font-semibold rounded-full">With Activity</span>
      </div>
    </div>
    <h3 class="text-sm font-semibold text-gray-700 mb-2">Web Development Class - Building Authentication with Python</h3>
    <div>
      <p id="text-content" class="text-gray-600 mb-4" style="max-height: 30px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;">
        In this class, we learned how to send properties to the HTML page.<br>

        render_template("index.html", nome=nome)
        `<b>Hello {{nome}}</b>`

        In the activities, we had to do the following:<br><br>

        <b>Activities:</b><br>
        1 - CONSIDERING A MOCK USER AND PASSWORD, CREATE A LOGIN PAGE THAT RETURNS "HELLO" OR "GOOD AFTERNOON" IF IT MATCHES, OTHERWISE "USER AND PASSWORD DO NOT MATCH"<br>

        2 - LIMIT THE USER'S AUTHENTICATION ATTEMPTS TO 2<br>

        3 - STYLIZE THE ACTIVITY NICELY<br>

        4 - WRITE A PYTHON SCRIPT THAT AUTOMATICALLY GENERATES AN HTML TEMPLATE CONTAINING A FORM FOR DATA INPUT, WHICH SHOULD BE PROVIDED BY A JSON PAYLOAD<br><br>

        But at the moment we were going to start our activity, the teacher explained... we need to do the activity with another friend, but we can't see what the other is doing. We need to do our part, and the other does their part, and in the end, we put them together and see the result.<br>
        CREATE 6 ROUTES, EACH STYLISH, AND IT SHOULD CONTAIN THE GROUP'S CURRICULUM<br><br>
      </p>

      <div class="flex justify-between items-center">

        <button id="toggle-btn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300 open-popup">See more</button>
        <div class="flex items-center gap-4">
          <a href="/login" class="text-blue-500 hover:text-blue-600 transition-colors duration-300 flex items-center">
            <span class="mr-1 text-sm">Link to activity</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
            </svg>
          </a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-between bg-white shadow-xl rounded-2xl p-6 w-full transform hover:scale-105 transition-transform duration-300 overflow-hidden" style="max-height: 400px;">
    <div class="flex justify-between items-start mb-4">
      <h2 class="text-xl font-bold text-gray-800">Class Date: 13/11/2024</h2>
      <div class="flex items-center gap-1">
        <span class="px-2 py-1 bg-blue-100 text-blue-800 text-sm font-semibold rounded-full">Class</span>
        <span class="px-2 py-1 bg-yellow-100 text-yellow-800 text-sm font-semibold rounded-full">Without Activity</span>
      </div>
    </div>
    <h3 class="text-sm font-semibold text-gray-700 mb-2">Web Development Class - Backend Best Practices</h3>
    <div>
      <p id="text-content" class="text-gray-600 mb-4" style="max-height: 30px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;">
        The professor didn’t assign an exercise, and we used the class time to develop the smart call project. However, he provided some instructions about backend development.<br><br>
        <span class="font-semibold">Backend:</span><br>
        <span class="pl-5 block">- Don’t trust the data that comes in. <span class="font-bold">Validate everything that arrives</span>.</span><br>
        <span class="pl-5 block">- Ensure <span class="font-bold">data integrity and consistency</span>, making sure the received data is used correctly.</span><br>
        <span class="pl-5 block">- The backend response should be <span class="font-bold">asynchronous</span>.</span><br>
        <span class="pl-5 block">- It's important to <span class="font-bold">handle exceptions</span> properly.</span><br>
      </p>

      <div class="flex justify-between items-center">
        <button id="toggle-btn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300 open-popup">See more</button>
        <div class="flex items-center gap-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
    </div>
  </div>


</div>

<div id="popup" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden">
  <div class="relative top-6 mx-auto p-5 border w-11/12 md:w-3/4 lg:w-1/2 shadow-lg rounded-md bg-white" style="margin-bottom: 3rem;">
    <div id="popup-content"></div>
    <div class="text-center mt-4">
      <button id="close-popup" class="px-4 py-2 bg-gray-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300">
        Close
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const cards = document.querySelectorAll('.bg-white.shadow-xl');
    const popup = document.getElementById('popup');
    const popupContent = document.getElementById('popup-content');
    const closePopup = document.getElementById('close-popup');

    cards.forEach(card => {
      const openPopupButton = card.querySelector('.open-popup');

      openPopupButton.addEventListener('click', () => {
        const textContent = card.querySelector('#text-content');

        if (textContent.style.maxHeight === "30px") {
          popupContent.innerHTML = `<p class="text-gray-600">${textContent.innerHTML}</p>`;
          popup.classList.remove('hidden');
        } else {
          alert("The content is visible");
        }
      });
    });

    closePopup.addEventListener('click', () => {
      popup.classList.add('hidden');
    });

    popup.addEventListener('click', (e) => {
      if (e.target === popup) {
        popup.classList.add('hidden');
      }
    });
  });

</script>
{% endblock %}